{% extends 'base.html' %}
{% block content %}
<html>
   <div class="container-sm w-50 bg-dark text-light">
    <body>
       <form action = "{{ url_for('import_file') }}" method = "POST" 
          enctype = "multipart/form-data" class = "form-control form-control-sm">
          <input type = "file" name = "file" class = "form-control"/>
          <br>
          <input type = "submit" class = "form-control bg-primary"/>
       </form>
       <br>
      <div class="ml-3 m-2">
         <a class="btn btn-success" href="{{ url_for('get_template') }}">Download Template</a>
      </div>
    </body>
   </div>
 </html>
{% endblock %}